<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewpor" content="width=320, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" content="text/css" href="css/style.css">
  <link rel="stylesheet" content="text/css" href="css/responsive.css">
  <title>Tomato one</title>
 <style>
   body {
   
	background: #F7F7F7 url("images/Union3.png") no-repeat;
	
   }

  </style>
</head>
<body>

<div class="Header">
<pre>
</pre>
	<nav class="navbar navbar-expand-lg navbar-light">
 <h1 id="logo"><a href="index.html"><img src="./images/Logo.png" ></a></h1>
<div style=" margin-left: auto;  margin-right: 4.05em;">
			<div class="container">
     		 	<input type="text" maxlength="12" placeholder="Search" class="searchbar">
      			<img src="./images/ico_search.png" alt="search icon" class="button">
   			</div>
  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="overflow-anchor: none;">
    <span class="navbar-toggler-icon"></span>
  </button>

<div   class="text_heard">
  <div class="collapse navbar-collapse" id="navbarNav" style="display: none;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" style="margin-right:10px;">
        <a href="index.html" style="color: #324950;">Home</a></li>
      </li>
      <li class="nav-item" style="margin-right:10px;">
        <a href="Tomato_all.html" style="color: #324950;">Company </a></li>
      </li>
      <li class="nav-item" style="margin-right:10px;">
        <a href="Tomato_all.html" style="color: #324950;">Profile </a></li>
      </li>
      <li class="nav-item" style="margin-right:10px;">
        <a href="Tomato_all.html" style="color: #324950;">Products</a></li>
      </li>
     <li class="nav-item" style="margin-right:10px;">
        <a href="Tomato_all.html" style="color: #324950;">Services </a></li> 
      </li>
     <li class="nav-item" style="margin-right:10px;">
        <a href="Tomato_all.html" style="color: #324950;">R&D </a></li>
      </li>
     <li class="nav-item" style="margin-right:10px;">
       <a href="Contact_us.html" style="color: #324950;">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</div>
</nav>
</div>



<div style="margin-left:21%;">
<div class="row">
<div class="col-sm-12 col-md-10 col-lg-5">

<a href="Tomato_all_vue.html" style="color: #57984C; font-family: 'Roboto Slab'; font-style: normal; font-weight: 400; font-size: 14px; line-height: 162.7%;"><img src="images/Arrow1.png"> Return to all tomatoes</a>
<pre>
</pre>
<h1><p class="text">TAG 1002 (TAG 809)</p><p class="text_big_gren">Tomato Determinate Red Standard Round<p></h1>
<p><img src="images/Union2.png"></p>
<pre>
</pre>
<p><img src="images/Group18.png"></p>
<pre>
</pre>

<p class="text_big">CHARACTERISTICS</p>
<hr align="left" width="183" size="2" color="#57984C"/>
<ul style="list-style-type:none">
<li class="text_bold">Resistance</li>
<li class="text_mini">HR: ToMV:0-2; Fol: 1,2; Ve/Vd; </li>
<li class="text_mini">IR: TYLCV</li>
</ul>

<p class="text_big">Plant</p>
<hr align="left" width="183" size="2" color="#57984C"/>
<ul>
<li class="text_mini">Strong vigor that provides good leaf coverage.</li>
<li class="text_mini">Very high productivity with good fruit setting.</li>
<li class="text_mini">Early matured variety.</li>
</ul>

<p class="text_big">Fruit </p>
<hr align="left" width="183" size="2" color="#57984C"/>
<ul>
<li class="text_mini">Long shelf life on plant and post harvest</li>
<li class="text_mini">Nice shiny attractive deep red color.</li>
<li class="text_mini">Average fruit size: 140 – 160 grams.</li>
</ul></div>

<div class="col-sm-12 col-md-10 col-lg-5"><p><img src="images/tomato_one.jpg"></p>
<pre>
</pre>
<a  href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible"><button align="right" style="background: #FFFFFF; border: 2px solid #57984C;width: 225px;height: 55px;border-radius: 30px; font-size: 17px; color: #57984C;"><img src="images/ico_pdf.png">Add to cart</button></a>
<a href="Tomato_one1.html" v-if="btnVisible"><button align="right" style="background: #FFFFFF; border: 2px solid #57984C;width: 225px;height: 55px;border-radius: 30px; font-size: 17px; color: #57984C;"><img src="images/ico_pdf.png">Go to cart</button></a>
<pre>
</pre>
<p class="text_big">Cycle</p> 
<hr align="left" width="183" size="2" color="#57984C"/>
<ul>
<li class="text_mini">Spring</li>
<li class="text_mini">Fall</li>
<li class="text_mini">Winter</li>
</ul>

<p class="text_big">Color</p>
<hr align="left" width="183" size="2" color="#57984C"/>
<p class="text_mini">Red</p>
</div>
</div>
</div>





<div class="footer" style="margin-top: 5%;">
	<div class="row">
	<div class="col-sm-3 col-md-3 col-lg-3"></div>

	<div class="col-sm-7 col-md-5 col-lg-5">
		<pre class="text_with">

PROFILE 	MANAGEMENT 	 PRODUCTS 	 R&D 	 LINKS 	 SITEMAP 	CONTACT</pre>
	</div>	
	<div class="col-sm-3 col-md-3 col-lg-3">
		<pre>
</pre>
			<img src="images/Ico_fb.png">
			<img src="images/Ico_in.png">
			<img src="images/Ico_inst.png">
			<img src="images/Ico_tube.png">
			<img src="images/Ico_tw.png">
		</div>
	</div>
</div>
<div class="footer2">

<p align="center"><font size="2" color="#B9B9B9" '>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</font></p>

</div>

</body> 
</html>